DB_DSN=postgres://user:password@localhost:5432/db_name?sslmode=disable
DB_MAX_CONNS=10
DB_MIN_CONNS=0
DB_MIN_IDLE_CONNS=0
DB_MAX_CONN_LIFETIME=1h
DB_MAX_CONN_IDLE_TIME=30m
DB_MAX_CONN_LIFETIME_JITTER=5m